* {
  font-family: "Poppins", sans-serif;
  outline: none;
}

.wishlistStyle {
  background-color: aquamarine;
  position: fixed;
}

.cartStyle {
  background-color: azure;
  position: fixed;
}

#shownCart {
  display: none;
}

#bar {
  line-height: 51px;
  padding: 33px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

#middleBar {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  display: block;
}

#leftMiddleBar {
  display: flex;
  align-items: center;
}

#centerMiddleBar {
  display: flex;
  align-items: center;
  transform: translate(50%);
}

#rightMiddleBar {
  display: flex;
  align-items: center;
}

#rightMiddleBarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options * {
  padding: 0 20px;
}

#rightMiddleBarOptions #searchBar + #cart {
  border-left: 1px solid #464646;
  padding-left: 10px;
}

@media (max-width: 768px) {
  #middleBar {
    flex-direction: column;
  }

  #rightMiddleBar {
    margin-top: 10px;
  }
}
.tittle{
  display: flex;
  align-content: center;
}