* {
  font-family: "Poppins", sans-serif;
  outline: none;
}

#bar {
  line-height: 51px;
  padding: 33px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

#middleBar {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  display: block;
}

#leftMiddleBar {
  display: flex;
  align-items: center;
}

#centerMiddleBar {
  display: flex;
  align-items: center;
  transform: translate(30%);
}

#rightMiddleBar {
  display: flex;
  align-items: center;
}

#rightMiddleBarOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options * {
  padding: 0 20px;
}

#rightMiddleBarOptions #searchBar + #cart {
  border-left: 1px solid #464646;
  padding-left: 10px;
}

@media (max-width: 768px) {
  #middleBar {
    flex-direction: column;
  }

  #rightMiddleBar {
    margin-top: 10px;
  }
}
.tittle{
  display: flex;
  align-content: center;
}
.fa-light:hover{
  cursor: pointer;
}
.wishlistDesign{
  position: fixed;
}
.searchContainer {
  display: flex;
  justify-content: center;
}
.wishlistStyle {
  background-color: aquamarine;
  position: fixed;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wishlistStyle.shown {
  opacity: 1;
}

.cartStyle {
  background-color: azure;
  position: fixed;
  right: 15vh;
  top: 20vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cartStyle.shown {
  opacity: 1;
}
.searchBar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.searchBar.shown {
  opacity: 1;
}
.searchBar:focus {
  outline: none;
}
#header{
  margin: 0%;
}